.TabsArea {
    width: 1200px;
    height: 650px;
    background-color: white;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
}

.TabsArea .Header {
    height: 60px;
    border-bottom: 1px solid #e0e0e0;
}

.Header .TabList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.TabList .TabItem {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    align-content: center;
    width: 250px;
}

.TabList .TabItem.active,
.TabList .TabItem:hover {
    border-block-end: 1px solid #6200ea;
    cursor: pointer;
    font-weight: 600;
}

.TabsArea .Body {
    padding: 30px;
    height: 100%;
}

.Body .TabContent {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    color: black;
    height: 100%;
    justify-content: center;
}

.TabContent .TabContent_BtnGroup {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    align-self: center;
    display: flex;
    gap: 10px;
    z-index: 1000;
}

.TabContent_BtnGroup .TabContent_Btn {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.12);
    border-radius: 18px;
    color: rgba(98, 0, 234, 0.51);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 100px;
}

.TabContent_BtnGroup .TabContent_Btn:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.12);
    border-bottom: 2px solid rgba(98, 0, 234, 1);
    color: rgba(98, 0, 234, 1);
    font-weight: 700;
}

.TabContent_BtnGroup .TabContent_Btn:last-child {
    background-color: rgba(98, 0, 234, 0.81);
    color: white;
}


.FormGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 400px;
}

.FormGroup .FormLabel {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    padding-inline-start: 10px;
}

.FormGroup .FormLabel span {
    color: red;
    font-size: 14px;
}

.FormGroup .FormInput_Group {
    height: 40px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid rgba(98, 0, 234, 0.51);
}

.FormGroup .FormInput_Group:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.12);
    border-bottom: 2px solid rgba(98, 0, 234, 1);
    color: rgba(98, 0, 234, 1);
}

.FormGroup .FormInput_Group .FormInput {
    width: 100%;
    height: 100%;
    outline: none;
    color: black;
}

.FormGroup.FormTextArea .FormInput_Group, .FormGroup.FormTextArea .FormInput_Group .FormInput {
    height: 100px;
}

.FormGroup .FormError {
    color: red;
}
