@import url("./Page.module.css");

.Page {
    flex-direction: column;
}

.Page .Header {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: none;
    height: 100px;
    color: black
}

.Page .Content {

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}