.Dashboard {
    width: 100%;
    height: 100vh;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.Dashboard .MainContent {
    flex: 6;
    padding: 20px;

}